.tableFixed tbody{
    height: 43vh;
    overflow-y: auto;
    width: 100%;
}

.tableFixed tbody::-webkit-scrollbar {
    width: 2vh;
}

.tableFixed tbody::-webkit-scrollbar-thumb{
    background: #0b0b13e6;
    height: 10vh;
    border-radius: 10px;
}

.tableFixed thead,
.tableFixed tbody,
.tableFixed td,
.tableFixed th{
    display: block;
}

.tableFixed tbody td,
.tableFixed thead > tr > th{
    float: left;
    border-bottom-width: 0px;
}

.divButton{
    position: absolute;
    left: 0;
}

.divButton .buttonHome{
    padding: 15px 40px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background: #dadada;
    cursor: pointer;
    margin: 20px 20px 0 20px;
}